# Template to change the variables of the server connection
# Rename the file to .env and replace the data

SFTP_HOST=yourserver.pikapods.net
SFTP_PORT=22
SFTP_USER=your_user_name
SFTP_PASS=your_password